<footer class="footer mt-5 py-3 bg-dark text-white">
    <div class="container d-flex justify-content-center">
        <span class="text-center m-3">by JAFaigao 2021</span>
        <span class="text-center m-3">Photos from <a href="https://unsplash.com/s/photos/album-cover">Unsplash.com</a></span>
    </div>
</footer>