<% layout('/layouts/boilerplate')%>
    <!-- <img src="https://source.unsplash.com/T3mKJXfdims" class="img-fluid" alt=""> -->
    <div class="text-black m-5 p-5 text-center">
        <div class="d-flex p-3 mx-auto justify-content-center">
            <div class="px-3">
                <h1>Welcome to Sound Project</h1>
                <p class="lead m-3">Organize and manage your music, CDs, vinyl records, and other media</p>
                <p class="lead m-4">
                    <a href="/all-albums" class="btn btn-lg btn-secondary fw-bold border-white bg-dark">View
                        Music Inventory</a>
                </p>
            </div>
        </div>
    </div>